<h1>Доброго времени суток!</h1>

<p>Ваш Email был указан при регистрации личного кабинета на сайте [[ domain ]]</p>
<p>Если вы не указывали никаких данных на этом сайте, просто проигнорируйте это письмо</p>
<p>Для активации личного кабинета кликните на ссылку:</p>
<p>
    <a href="http://[[ domain ]]/activate.php?user_id=[[ user_id ]]&user_activate=[[ user_activate ]]">
        http://[[ domain ]]/activate.php?user_id=[[ user_id ]]&user_activate=[[ user_activate ]]
    </a>
</p>
<p>Ваш пароль доступа: [[ user_pass ]]</p>
<p>Вы можете изменить пароль на любой удобный Вам в настройках аккаунта</p>